/* couleur */
/* bleu : #33058D */
/* rose : #E10098 */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* initialisation */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto';
}

/* Header */


.header-wrapper {
    background: #33058D;
    height: 125px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.25s ease-in-out;
}
.header-wrapper.scroll {
    background: rgba(51, 5, 141, 0.4);
    height: 115px;
    padding: 0px 0px 10px;
}

.header-nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 100px;
}


/* mise en page du menu burger */

.burger {
    margin-right: 150px;
    height: 28px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* 1ère ligne */
.burger::before {
    content: "";
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 9px;
}


/* ligne du milieu */
.mid-line {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    align-self: flex-end;
    height: 3px;
    width: 70%;
}

/* 2ème ligne */
.burger::after {
    content: "";
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 3px;
    width: 100%;
    display: block;
    margin-top: 9px;
}

/* Fin du header */

/* Banner */

.banner-wrapper {
    width: 100%;
    height: 100vh;
    background: #E10098;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: space-between;
}
.banner-left {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 100px;
    text-transform: uppercase;
    
}
.banner-right img{
    height: auto;
    margin-right: 150px;
    width: 40vw;
}

/* fin de la bannière */

/* main */

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    margin-top: 45px;
    width: 100%;
    text-align: center;
    font-size: 1.75em;
    font-weight: 300;
    letter-spacing: 8px;
}

h2::after {
    content: "";
    width: 25%;
    height: 3px;
    margin: auto;
    background: #33058D;
    border-radius: 15px;
    margin-top: 12px;
    display: block;
}

form {
    width: 100%;
}
/* progress bar */

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
    right: -70%;
    margin-top: 127px;
}
.progressbar::before, .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background: #33058D;
    z-index: -1;
}
.progress {
    background: #E10098;
    width: 0%;
}
.progress-step {
    width: 21px;
    height: 21px;
    background: grey;
    border-radius: 50%;
    border: solid 5px #33058D;
}
.progress-step-active {
    background: #E10098;
}
.progress-step-check {
    background: green;
}

/* info-perso */

.info-perso-wrapper {
    display: flex;
    width: 100%;
    margin-top: 103px;
}

/* info perso titre  */
.info-perso-intro {
    width: 55%;
    height: 360px;
    background: #33058D;
    display: flex;
    justify-content: space-between;
}

.info-perso-title {
    color: white;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: 7px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    margin: 100px 0px 0px 100px;
}
.info-perso-title  span{
    margin-left: 70px;
}

.info-perso-img {
    align-self: flex-end;
    margin-right: 135px;
    margin-bottom: 20px;
}


/* info perso formulaire */

.info-perso-form {
    width: 25%;
    margin: auto;
}

.info-perso-form .formulaire {
    display: flex;
    flex-direction: column;
}
.info-perso-form input{
    width: 100%;
    height: 37.5px;
    border: none;
    border-bottom: 2px solid #33058D;
    margin-top: 20px;
}
.info-perso-form input::placeholder{
    font-size: 1.3em;
}
.info-perso-form input::focus-visible{
    outline-offset: 0px;
}

/* 2ème section */

/* formulaire */

.scolaire-wrapper {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.scolaire-form-wrapper {
    width: 35%;
    margin: auto;
    margin-top: 50px;
}

.scolaire h3,
.scolaire h4{
    font-size: 1.75em;
    font-weight: 400;
    text-align: center;
    
}

h4 {
    margin-top: 50px;
}

.scolaire-form {
    margin: 20px 0px 0px 100px
}




.scolaire-intro {
    width: 55%;
    background: #33058D;
    height: 360px;
    display: flex;
}

.scolaire-img {
    align-self: flex-end;
}
.scolaire-img img{
    display: block;
    
}

.scolaire-title {
    margin-top: 100px;
    color: white;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: 7px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
}

.scolaire-title span {
    margin-left: 40px;
}


/* personnes à prévenir en cas d'urgences */


.urgences-wrapper {
    display: flex;
    width: 100%;
    margin-top: 100px;
    flex-wrap: wrap;
}

/* info perso titre  */
.urgences-intro {
    width: 55%;
    height: 360px;
    background: #33058D;
    display: flex;
    justify-content: space-between;
}

.urgences-title {
    color: white;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: 7px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    margin: 170px 0px 0px 100px;
}
.urgences-title  span{
    margin-left: 150px;
}

.urgences-img {
    align-self: flex-end;
    margin-right: 52px;
    margin-bottom: 82px;
}

.urgences-form {
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.blank{
    width: 10%;
}
.num {
    height: 74px;
    width: 74px;
    background: #E10098;
    transform: rotate(45deg);
    font-size: 61px;
    color: white;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.num p {
    align-self: flex-end;
    margin-right: 5px;
}

.btns-urgences {
    display: flex;
    justify-content: space-around;
}
.urgences-form .formulaire {
    width: 56%;
    margin-right: 150px;
}
.urgences-form input {
    width: 100%;
    height: 37.5px;
    border: none;
    border-bottom: 2px solid #33058D;
    margin-top: 20px;
}

.urgences-form input::placeholder {
    font-size: 1.3em;
}

.footer-wrapper {
    margin-top: 50px;
    background: #33058D;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.btn {
    display: block;
    padding: 16.5px;
    width: 180px;
    background: #33058D;
    color: white;
    transition: 0.3s ;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    margin-top: 88px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #33058D;
}
.btns {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.next {
    align-self: flex-end;
}

.step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

@keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

.step-active {
    display: flex;
}


/* media queries */

@media (max-width: 1650px) {

    .progressbar {
        right: -68%;
        
    }
    .scolaire-img img{
        display: block;
        width: 400px;
        height: auto;
    }




 }
@media (max-width: 1375px) {

    .banner-wrapper {
        height: 80vh;
    }

    .progressbar {
        right: -66%;
        
    }
    .urgences-img {
        display: none;
    }
    .num {
        margin-left: 20px;
        margin-right: 10px;
    }





 }
@media (max-width: 1255px) {

    .banner-wrapper {
        height: 75vh;
    }
    .info-perso-title {
        font-size: 1.50em;
        margin: 50px 0px 0px 50px;
    }
    .scolaire-img img{
        display: none;
    }
    .scolaire-intro {
        height: 200px;
        padding-left: 50px;
    }
    .scolaire-title {
        margin-top: 50px;
    }

 }
@media (max-width: 1200px) {

    .banner-wrapper {
        height: 70vh;
    }
    .banner-right img{
        margin-right: 95px;
    }
    .info-perso-intro {
        width: 55%;
        height: 200px;
        background: #33058D;
        display: flex;
        justify-content: space-between;
    }
    
    .info-perso-img {
        display: none;
    }



 }
@media (max-width: 1150px) {

    .banner-left {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 100px;
        text-transform: uppercase;
    }
    .banner-right img{
        margin-right: 70px;
    }
    .banner-wrapper {
        height: 50vh;
    }
    .progressbar {
        right: -64%;
        
    }


 }
@media (max-width: 1000px) {

    .banner-wrapper {
        height: 50vh;
    }
    .progressbar {
        right: -62%;
        
    }


 }