/* couleur */
/* bleu : #33058D */
/* rose : #E10098 */


/* initialisation */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

/* Header */


.header-wrapper {
    background: #33058D;
    height: 125px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 100px;
}


/* mise en page du menu burger */

.burger {
    margin-right: 150px;
    height: 28px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 1ère ligne */
.burger::before {
    content: "";
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 9px;
}

/* ligne du milieu */
.mid-line {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    align-self: flex-end;
    height: 3px;
    width: 70%;
}

/* 2ème ligne */
.burger::after {
    content: "";
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 3px;
    width: 100%;
    display: block;
    margin-top: 9px;
}

/* Fin du header */

/* Banner */

.banner-wrapper {
    width: 100%;
    height: 100vh;
    background: #E10098;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: space-between;
}
.banner-left {
    color: white;
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: bold;
    margin-left: 100px;
    text-transform: uppercase;
    
}
.banner-right img{
    height: 55vh;
    margin-right: 150px;
    width: auto;
}

/* fin de la bannière */