/* couleur */
/* bleu : #33058D */
/* rose : #E10098 */


/* initialisation */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto';
}

/* Header */


.header-wrapper {
    background: #33058D;
    height: 125px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 100px;
}


/* mise en page du menu burger */

.burger {
    margin-right: 150px;
    height: 28px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 1ère ligne */
.burger::before {
    content: "";
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 9px;
}

/* ligne du milieu */
.mid-line {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    align-self: flex-end;
    height: 3px;
    width: 70%;
}

/* 2ème ligne */
.burger::after {
    content: "";
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 3px;
    width: 100%;
    display: block;
    margin-top: 9px;
}

/* Fin du header */

/* Banner */

.banner-wrapper {
    width: 100%;
    height: 100vh;
    background: #E10098;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: space-between;
}
.banner-left {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 100px;
    text-transform: uppercase;
    
}
.banner-right img{
    height: auto;
    margin-right: 150px;
    width: 40vw;
}

/* fin de la bannière */

/* main */

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.75em;
    font-weight: lighter;
    letter-spacing: 8px;
}

h2::after {
    content: "";
    width: 25%;
    height: 3px;
    margin: auto;
    background: #33058D;
    border-radius: 15px;
    display: block;
}

/* info-perso */

.info-perso-wrapper {
    display: flex;
    width: 100%;
    margin-top: 75px;
}

/* info perso titre  */
.info-perso-intro {
    width: 55%;
    height: 360px;
    background: #33058D;
    display: flex;
    justify-content: space-between;
}

.info-perso-title {
    color: white;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: 12px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    margin: 100px 0px 0px 100px;
}
.info-perso-title  span{
    margin-left: 70px;
}

.info-perso-img {
    align-self: flex-end;
    margin-right: 135px;
    margin-bottom: 20px;
}


/* info perso formulaire */

.info-perso-form {
    width: 25%;
    margin: auto;
}

.info-perso-form input{
    width: 100%;
    height: 37.5px;
    border: none;
    border-bottom: 2px solid #33058D;
    margin-top: 20px;
}
.info-perso-form input::placeholder{
    font-size: 1.3em;
}

